$primary: #49cd5e;
$secondary: #223cc7;
$tertiary: #6581a3;
$dark: #000000;
$grey: #9c9c9c;
$neutral: #e1e8ed;
$white: #ffffff;
$background-white: #f4f0ec;

$main-font: 'Red Hat Display', sans-serif;
